In [ ]:
# %pip install openpyxl
import pandas as pd
import numpy as np

# Provide the correct path to the file
# drinks = pd.read_excel("Напитки (2).xlsx", header=1)
drinks = pd.read_csv("drinks.csv").head(2)

lunch = pd.read_csv("Обеды_с_эмодзи_в_начале.csv")

In [ ]:
display(drinks.head(2))
lunch.head(2)
# drinks.to_csv("drinks.csv", index=False)

,№,Название:,Ингредиенты на 1 порцию:,Приготовление:,Какое блюдо,Блюдо из
0,1,Чай зелёный,Зелёный чай (сухие чайные листья): 1 чайная ло...,"Доведите воду до кипения, затем дайте ей немно...",напитки,чай
1,2,Чай из мяты,Свежие листья мяты: 5-6 листьев (или 1 чайная ...,"Если используете свежие листья мяты, тщательно...",напитки,чай

,№,Название:,Ингредиенты на 1 порцию:,Приготовление:,Какое блюдо,Блюдо из
0,1,Чай зелёный,Зелёный чай (сухие чайные листья): 1 чайная ло...,"Доведите воду до кипения, затем дайте ей немно...",напитки,чай
1,2,Чай из мяты,Свежие листья мяты: 5-6 листьев (или 1 чайная ...,"Если используете свежие листья мяты, тщательно...",напитки,чай